fastapi==0.112.0
uvicorn[standard]==0.30.1
transformers==4.40.0
pydantic-settings==2.3.4
soundfile==0.12.1
anyascii==0.3.2
g2pkk==0.1.2
numba==0.59.1
jamo==0.4.1
cached-path==1.6.3
gdown==5.2.0
requests==2.31.0
