.white-header {
  background-color: white;
}

.blue-header {
  background-color: #f8fbff;
}

.header-container {
  background-color: white;
  width: 360px;
  height: 25px;
  margin: 0 auto;
  padding-top: 70px;
  height: 20px;
  z-index: 1;
}

.blue-header-container {
  background-color: #f8fbff;
  width: 360px;
  height: 25px;
  margin: 0 auto;
  padding-top: 70px;
  height: 20px;
  z-index: 1;
}

.header-info {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.blue-header-info {
  width: 100%;
  background-color: #f8fbff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.back-icon {
  width: 20px;
  height: 20px;
  margin-left: 21px;
}

.home-icon {
  width: 26px;
  height: 26px;
  margin-right: 15px;
}

.header-name {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #2c2c2c;
}
