.container {
  max-width: 390px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
  align-items: center;
  background-color: white;
}

.header-info {
  width: 100%;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.back-icon {
  margin-top: 0%;
  width: 8%;
  height: 8%;
}

.home-icon {
  margin-top: 0%;
  width: 10%;
  height: 10%;
}

.header-name {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #2c2c2c;
}

.main-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infomation-container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10%;
}

.infomation {
  font-weight: bold;
  font-size: 22px;
  margin-top: -15px;
  color: #2c2c2c;
}

.address-container {
  margin-bottom: 90%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-section {
  display: flex;
  width: 100%;
}

.glasses-icon {
  width: 8%;
  height: 8%;
}

.input-address, .input-address-detail {
  border: none;
  border-bottom: 2px solid #d9d9d9;
  width: 100%;
  height: 5vh;
  text-align: justify;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 30px;
}

.input-address:focus {
  outline: none;
  border-bottom: 2px solid #80BAFF;
}

.input-address-detail:focus {
  outline: none;
  border-bottom: 2px solid #80BAFF;
}

/* .main-section {
  width: 80%;
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
}

.go-input-disease {
  border-width: 3px;
  border-color: #80BAFF;
  background-color: #80BAFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-bottom: 5%;
} */

.go-input-disease {
  width: 90%;
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.main-text {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #80BAFF;
  box-sizing: border-box;
  border-radius: 15px;
}

.go-input-disease-text {
  color: white;
  font-size: 18px;
}

.main-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}


/* 반응형 디자인 */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px;
  }

  .header {
    margin-bottom: 30px;
  }

  .main-section {
    padding: 30px;
  }

  .main-text {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 60px;
  }

  .main-section {
    padding: 40px;
  }

  .main-text {
    font-size: 24px;
  }
}
